Repository hyochan/react-native-iap, pull requests merged in 2019-12, with the labels that each got.

#869 Add tvos platform in podspec
  RNIap.podspec
Labels: enhancement, iOS

#871 [Upgrade] Example to react-native@0.61
  IapExample/.eslintrc.js
  IapExample/.flowconfig
  IapExample/.gitignore
  IapExample/.prettierrc.js
  IapExample/App.js
  IapExample/android/app/BUCK
  IapExample/android/app/build.gradle
  IapExample/android/app/debug.keystore
  IapExample/android/app/src/main/AndroidManifest.xml
  IapExample/android/app/src/main/java/com/dooboolab/iapexample/MainActivity.java
  IapExample/android/app/src/main/java/com/dooboolab/iapexample/MainApplication.java
  IapExample/android/app/src/main/java/com/iapexample/MainActivity.java
  IapExample/android/app/src/main/java/com/iapexample/MainApplication.java
  IapExample/android/build.gradle
  IapExample/android/gradle/wrapper/gradle-wrapper.properties
  IapExample/android/settings.gradle
  IapExample/index.js
  IapExample/ios/IapExample.xcodeproj/project.pbxproj
  IapExample/ios/IapExampleTests/IapExampleTests.m
  IapExample/ios/Podfile
  IapExample/ios/Podfile.lock
  IapExample/metro.config.js
  IapExample/package.json
  IapExample/yarn.lock
Labels: example, upgrade

#885 Fix double precision issue and inconsistent return type on Android
  README.md
  android/src/main/java/com/dooboolab/RNIap/RNIapModule.java
Labels: android, enhancement
