Repository hyochan/react-native-iap, pull requests merged in 2021-05, with the labels that each got.

#1302 [Amazon] Add promise handling for Amazon purchases instead of resolving immediately.
  android/src/main/java/com/dooboolab/RNIap/RNIapAmazonListener.java
  android/src/main/java/com/dooboolab/RNIap/RNIapAmazonModule.java
Labels: ⓐ amazon, 🍗 enhancement, 🤖 android

#1323 [Android] Update deps, fix permisions on gradle wrapper
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
Labels: 👷‍♀️ build, 🤖 android

#1326 Enhance github workflow
  .github/workflows/ci.yml
  .github/workflows/publish-package.yml
  CHANGELOG.md
  README.md
  package.json
Labels: 💨 ci, 📘 release

#1328 Release 6.0.5
  README.md
  android/build.gradle
  package.json
Labels: 📘 release, 🔥 hotfix

#1331 Add android build/test to CI
  .github/workflows/ci.yml
  android/gradle/wrapper/gradle-wrapper.properties
Labels: 💨 ci, 🤖 android, 🧪 test

#1335 [Amazon] register listener on main thread
  android/src/main/java/com/dooboolab/RNIap/RNIapAmazonModule.java
Labels: ⓐ amazon, 🐛 bug

#1333 fix lint issues [Android]
  android/build.gradle
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/main/java/com/dooboolab/RNIap/RNIapAmazonListener.java
  android/src/main/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🍗 enhancement, 🤖 android

#1342 update android example and add it to CI
  .github/workflows/ci.yml
  IapExample/android/build.gradle
  IapExample/android/gradle/wrapper/gradle-wrapper.properties
Labels: 👷‍♀️ build, 💨 ci, 🤖 android

#1356 fire tv detection
  IapExample/package.json
  IapExample/yarn.lock
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
Labels: ⓐ amazon, 🍗 enhancement, 🤖 android

#1357 Handle deffered proration in purchasedUpdated listner in android
  CHANGELOG.md
  android/src/main/java/com/dooboolab/RNIap/RNIapModule.java
  package.json
Labels: 🍗 enhancement, 🛠 bugfix, 🤖 android

#1358 [Android] Remove buildToolsVersion
  android/build.gradle
Labels: 🍗 enhancement, 👷‍♀️ build, 🤖 android
