Repository hyochan/react-native-iap, pull requests merged in 2021-01, with the labels that each got.

#1227 Fix posible problem clearTransactionsIOS promise
  ios/RNIapIos.m
Labels: bugfix, iOS

#1228 Add sandbox agnostic receipt verification
  index.ts
Labels: enhancement

#1237 fix tvos presentCodeRedemptionSheet not available
  ios/RNIapIos.m
Labels: announcement, bugfix, iOS

#1239 Update README.md
  README.md
Labels: doc
