Repository hyochan/react-native-iap, pull requests merged in 2021-07, with the labels that each got.

#1400 Migrate android billing client to 4.0.0
  .github/workflows/ci.yml
  CHANGELOG.md
  android/build.gradle
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  package.json
Labels: 🚽 migration, 🤖 android

#1402 updated type to match newer ios receipt style
  src/types/apple.ts
Labels: 📖 documentation

#1401 Removed setInstallSource and updated docs
  docs/docs/api_reference/methods.md
  src/iap.ts
Labels: 🍗 enhancement

#1389 Remove an unnecessary reject when canceling by user
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🍗 enhancement, 💬 discussion, 🤖 android

#1407 Revert strict check for Amazon module
  src/iap.ts
Labels: ⌚️ regression, 🍗 enhancement

#1410 Upgrade gradle plugin to 4.2.2
  .github/workflows/ci.yml
  IapExample/android/build.gradle
  android/build.gradle
  android/src/main/AndroidManifest.xml
Labels: 👷‍♀️ build, 🤖 android

#1411 Fix getPurchaseHistory for Android (#1409)
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🍗 enhancement, 🤖 android

#1414 Hotfix on getting skus on android
  CHANGELOG.md
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  package.json
Labels: 🔥 hotfix, 🤖 android

#1423 Fix Android subscription update
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🍗 enhancement, 🛠 bugfix, 🤖 android

#1425 moved init code to initConnection method
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
Labels: ⓐ amazon, 🛠 bugfix, 🤖 android

#1427 Remove init on main thread as it is no longer needed in this version of the SDK
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
Labels: ⓐ amazon, 🛠 bugfix, 🤖 android

#1438 fixes subscription upgrade/downgrade
  CHANGELOG.md
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  docs/docs/api_reference/methods.md
  package.json
  src/iap.ts
Labels: 🛠 bugfix, 🤖 android

#1440 Fix recent jest test failing
  babel.config.js
  jest.config.js
  package.json
Labels: 🧪 test
