Repository hyochan/react-native-iap, pull requests merged in 2021-03, with the labels that each got.

#1267 Fix: remove IAPPromotionObserver
  ios/RNIap.xcodeproj/project.pbxproj
Labels: 🍗 enhancement, 📱 iOS

#1277 Adding introductoryPriceAsAmountAndroid
  README.md
  android/src/main/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🍗 enhancement

#1288 iOS promo requires calling initConnection first
  README.md
Labels: 📝 readme
