Repository hyochan/react-native-iap, pull requests merged in 2021-12, with the labels that each got.

#1578 fix: android querySkuDetailsAsync ui thread
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
Labels: 🤖 android, 🛠 bugfix

#1583 Update pkg manager to yarn2 and update pkgs
  .editorconfig
  .eslintrc.js
  .github/workflows/ci-android.yml
  .github/workflows/ci-example.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-document.yml
  .github/workflows/publish-package.yml
  .gitignore
  .prettierrc.js
  .travis.yml
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  CHANGELOG.md
  IapExample/.editorconfig
  IapExample/.eslintignore
  IapExample/.eslintrc.js
  IapExample/.gitignore
  IapExample/App.js
  IapExample/package.json
  IapExample/yarn.lock
  package.json
  src/hooks/useIAP.ts
  src/hooks/withIAPContext.tsx
  src/iap.ts
  yarn.lock
Labels: 🚽 migration, dependencies

#1563 Expose new isReady method
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  docs/docs/api_reference/methods.md
  docs/docs/usage_instructions/connection_lifecycle.md
Labels: 🍗 enhancement, 🤖 android
