Repository hyochan/react-native-iap, pull requests merged in 2021-06, with the labels that each got.

#1336 [Android] Split code into two stores
  .gitignore
  CHANGELOG.md
  IapExample/App.js
  IapExample/android/app/build.gradle
  IapExample/android/settings.gradle
  IapExample/package.json
  IapExample/yarn.lock
  README.md
  README_AMAZON.md
  android/build.gradle
  android/src/amazon/AndroidManifest.xml
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonListener.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapPackage.java
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.java
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  android/src/play/java/com/dooboolab/RNIap/RNIapPackage.java
  package.json
  src/iap.ts
Labels: ⓐ amazon, 🍗 enhancement, 🛠 bugfix, 🤖 android

#1366 Implement initial version of documentation
  .gitignore
  README.md
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/api_reference/_category_.json
  docs/docs/api_reference/available_purchase.md
  docs/docs/api_reference/methods.md
  docs/docs/api_reference/product.md
  docs/docs/faq.md
  docs/docs/installing.md
  docs/docs/intro.md
  docs/docs/manual_install.md
  docs/docs/troubleshooting.md
  docs/docs/usage_instructions/_category_.json
  docs/docs/usage_instructions/purchase.md
  docs/docs/usage_instructions/receipt_validation.md
  docs/docs/usage_instructions/restoring_purchases.md
  docs/docs/usage_instructions/retrieve_available.md
  docs/docs/usage_instructions/using_hooks.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/react-native-iapv3.svg
  docs/yarn.lock
Labels: 📖 documentation

#1375 Setup document workflow for #1371
  .github/workflows/deploy-document.yml
  IapExample/IapExample-v0.0.1.tgz
  README.md
Labels: 💨 ci, 📖 documentation

#1377 Fix a wrong package.json setting
  package.json
Labels: 🛠 bugfix

#1374 Cleans up Native Module checks
  CHANGELOG.md
  README.md
  README_AMAZON.md
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  docs/docs/api_reference/methods.md
  docs/docs/installing.md
  package.json
  src/hooks/useIAP.ts
  src/iap.ts
Labels: 🍗 enhancement

#1379 First unit test
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  IapExample/App.js
  IapExample/metro.config.js
  babel.config.js
  jest.config.js
  package.json
  src/__test__/iap.test.ts
  src/iap.ts
  test/mocks/react-native-modules.js
  yarn.lock
Labels: dependencies, 🏃🏻‍♀️ in progress, 💨 ci

#1380 fixes java lint errors and adds check to CI
  .github/workflows/ci.yml
  android/build.gradle
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonListener.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapPackage.java
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.java
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  android/src/play/java/com/dooboolab/RNIap/RNIapPackage.java
Labels: dependencies, ⓐ amazon, 🍗 enhancement, 👷‍♀️ build, 💨 ci, 🤖 android

#1381 Update purchase.md
  docs/docs/usage_instructions/purchase.md
Labels: 📖 documentation

#1385 Fix an unnecessary error when canceling a purchase
  ios/RNIapIos.m
Labels: 🍗 enhancement, 📱 iOS

#1386 Update URL in package.json
  package.json
Labels: 🍗 enhancement

#1390 fix promise resolving logic
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.java
Labels: 🍗 enhancement, 🤖 android

#1387 Adds documentation to Android deferred proration
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  docs/docs/api_reference/methods.md
  src/iap.ts
Labels: 🍗 enhancement, 📖 documentation, 🤖 android

#1392 implement requested client-side validation for amazon purchases
  docs/docs/api_reference/methods.md
  src/iap.ts
  src/types/amazon.ts
Labels: ⓐ amazon, 🍗 enhancement, 🎯 feature

#1393 fixed regression on return type
  docs/docs/api_reference/methods.md
  ios/RNIapIos.m
  src/hooks/useIAP.ts
  src/iap.ts
Labels: ⌚️ regression, 📱 iOS

#1394 implement deeplinking to subscriptins for Android
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  docs/docs/api_reference/methods.md
  src/iap.ts
Labels: 🎯 feature, 🤖 android
