Repository hyochan/react-native-iap, pull requests merged in 2022-07, with the labels that each got.

#1749 First check for billing to be avaiable
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/testPlay/java/com/dooboolab/RNIap/RNIapModuleTest.kt
Labels: 🍗 enhancement, 🤖 android, 🛠 bugfix

#1751 Fixed RNIapQueue for objc
  RNIap.podspec
  docs/docs/faq.md
  ios/RNIapQueue.swift
Labels: 🍗 enhancement, 📱 iOS

#1752 iapExample CI (iOS)
  .github/workflows/ci-example-android.yml
  .github/workflows/ci-example-ios.yml
Labels: 📱 iOS, 💨 ci

#1759 Uses local ios files in Example app
  IapExample/.gitignore
  IapExample/ios/Podfile
  IapExample/ios/Podfile.lock
  IapExample/package.json
  IapExample/react-native.config.js
  IapExample/yarn.lock
Labels: 📱 iOS, 📗 example

#1760 Filtering subscriptions and iap products
  src/iap.ts
  src/types/index.ts
Labels: 🍗 enhancement

#1778 Publish beta on merge in beta branch
  .github/workflows/publish-beta.yml
Labels: 💨 ci, 🐣 beta

#1779 Revert 9 x x on main
  .github/workflows/ci-android.yml
  IapExample/App.js
  IapExample/android/app/build.gradle
  IapExample/android/settings.gradle
  IapExample/ios/Podfile.lock
  IapExample/package.json
  IapExample/react-native.config.js
  android/build.gradle
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonListener.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModuleInterface.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModuleV4.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapPackage.kt
  android/src/testPlay/java/com/dooboolab/RNIap/RNIapModuleTest.kt
  docs/docs/api_reference/methods.md
  docs/docs/google_play_billing_5.md
  docs/docs/usage_instructions/purchase.md
  package.json
  src/iap.ts
  src/types/index.ts
Labels: ⌛️ revert
