Repository hyochan/react-native-iap, pull requests merged in 2022-06, with the labels that each got.

#1704 Avoid finishing transactions that can still succeed and have not been consumed
  IapExample/App.js
Labels: 📗 example

#1706 Compile error on Android #1659
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
Labels: 🤖 android, 👷‍♀️ build

#1714 Fix documentation to use implementation instead of compile (android)
  docs/docs/manual_install.md
Labels: 📖 documentation

#1719 Remove legacy method isReadyAndroid()
  CHANGELOG.md
  docs/docs/api_reference/methods.md
  docs/docs/usage_instructions/connection_lifecycle.md
  src/iap.ts
Labels: 🤖 android, 📖 documentation, ⌛️ legacy

#1724 Reverts f4161e8 because it breaks iOS
  ios/RNIapIos.swift
Labels: 📱 iOS, ⌚️ regression

#1726 Reset cache on service disconnected
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
Labels: 🍗 enhancement, 🤖 android

#1727 Refactored ensure connection to reconnect
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
Labels: 🍗 enhancement, 🤖 android

#1730 android unit tests
  android/build.gradle
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/testPlay/java/com/dooboolab/RNIap/RNIapModuleTest.kt
Labels: 🤖 android, 🧪 test

#1731 test flush failed purchases cache
  .github/workflows/ci-android.yml
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.kt
  android/src/play/java/com/dooboolab/RNIap/PromiseUtlis.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/testPlay/java/com/dooboolab/RNIap/RNIapModuleTest.kt
Labels: 🍗 enhancement

#1735 Simplify duplicated code for response code validation
  android/build.gradle
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/testPlay/java/com/dooboolab/RNIap/RNIapModuleTest.kt
Labels: 🤖 android, 🛠 refactor
