Repository hyochan/react-native-iap, pull requests merged in 2022-01, with the labels that each got.

#1604 Fix missing `isReadyAndroid` method in iap.ts
  src/iap.ts
Labels: 🛠 bugfix

#1586 Added exported variable in main and amazon manifest files
  android/src/amazon/AndroidManifest.xml
  android/src/main/AndroidManifest.xml
Labels: 🤖 android, 🥋 compatibility

#1607 ignore yarn cache in npmignore
  .npmignore
Labels: 🍗 enhancement

#1619 add missing android type
  src/types/index.ts
Labels: ❄️ types

#1629 Refresh SkuDetails
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
Labels: 🤖 android, 🛠 bugfix

#1627 fix paramenter name
  ios/RNIapIos.m
  ios/RNIapIos.swift
Labels: 📱 iOS, 🛠 bugfix

#1567 Release 8.0.0
  .eslintrc.js
  .flowconfig
  .github/workflows/ci-android.yml
  .github/workflows/ci-example.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-document.yml
  .gitignore
  .npmignore
  CHANGELOG.md
  IapExample/.prettierrc.js
  IapExample/App.js
  IapExample/android/app/build.gradle
  IapExample/android/build.gradle
  IapExample/android/settings.gradle
  IapExample/ios/IapExample-Bridging-Header.h
  IapExample/ios/IapExample-tvOS-Bridging-Header.h
  IapExample/ios/IapExample.xcodeproj/project.pbxproj
  IapExample/ios/IapExample.xcodeproj/xcshareddata/xcschemes/IapExample-tvOS.xcscheme
  IapExample/ios/IapExample.xcodeproj/xcshareddata/xcschemes/IapExample.xcscheme
  IapExample/ios/Podfile
  IapExample/ios/Podfile.lock
  IapExample/package.json
  IapExample/yarn.lock
  README.md
  RNIap.podspec
  android/build.gradle
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonListener.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonListener.kt
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapAmazonModule.kt
  android/src/amazon/java/com/dooboolab/RNIap/RNIapPackage.java
  android/src/amazon/java/com/dooboolab/RNIap/RNIapPackage.kt
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.java
  android/src/main/java/com/dooboolab/RNIap/DoobooUtils.kt
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.java
  android/src/play/java/com/dooboolab/RNIap/PlayUtils.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.java
  android/src/play/java/com/dooboolab/RNIap/RNIapModule.kt
  android/src/play/java/com/dooboolab/RNIap/RNIapPackage.java
  android/src/play/java/com/dooboolab/RNIap/RNIapPackage.kt
  docs/docs/faq.md
  docs/docs/installing.md
  docs/package.json
  ios/RNIapIos.h
  ios/RNIapIos.m
  ios/RNIapIos.swift
  ios/RNIapQueue.swift
  package.json
  src/iap.ts
  yarn.lock
Labels: 🤖 android, 📱 iOS, 🚽 migration, 📘 release
