Repository hyochan/react-native-iap, pull requests merged in 2023-11, with the labels that each got.

#2599 fix: correct gradle import instructions in get-started.mdx
  docs/docs/get-started.mdx
Labels: 📖 documentation

#2543 Upgrade Amazon's SDK to 3.0.4
  .github/workflows/ci-example-android.yml
  android/gradle.properties
  android/src/amazon/java/com/dooboolab/rniap/RNIapAmazonListener.kt
  android/src/main/java/com/dooboolab/rniap/PromiseUtils.kt
Labels: 🤖 android, ⓐ amazon

#2613 docs: improve documentation 17.11.2023
  CONTRIBUTING.md
  IapExample/README.md
  IapExample/package.json
  IapExample/yarn.lock
Labels: 📖 documentation, 📗 example
