Repository hyochan/react-native-iap, pull requests merged in 2024-10, with the labels that each got.

#2855 Update link in purchases.mdx
  docs/docs/guides/purchases.mdx
Labels: 📖 documentation

#2849 Ability to disable amazon's DRM
  android/build.gradle
  android/gradle.properties
  android/src/amazon/java/com/dooboolab/rniap/RNIapAmazonModule.kt
  docs/docs/guides/amazon-iap.mdx
  plugin/__tests__/fixtures/buildGradleFiles.ts
Labels: 🤖 android, 🎯 feature, 📖 documentation, ⓐ amazon

#2868 fix: missing type 'name' in ProductAndroid
  src/types/index.ts
Labels: 🤖 android, ❄️ types
