Repository hyochan/react-native-iap, pull requests merged in 2024-11, with the labels that each got.

#2872 fix: android build error with React Native 0.76
  android/src/main/java/com/dooboolab/rniap/PromiseUtlis.kt
Labels: 🤖 android, 👷‍♀️ build, 🥢 typo

#2874 fix: storekit2 add verificationResultIOS to getAvailablePurchases
  ios/RNIapIosSk2.swift
Labels: 📱 iOS, 🛠 bugfix

#2875 refactor: make the code parameter of safeReject non-nullable
  android/src/main/java/com/dooboolab/rniap/PromiseUtils.kt
  android/src/main/java/com/dooboolab/rniap/PromiseUtlis.kt
Labels: 🤖 android, ❄️ types
