Repository hyochan/react-native-iap, pull requests merged in 2024-12, with the labels that each got.

#2886 refactor: minor Kt code cleanup
  android/src/amazon/java/com/dooboolab/rniap/RNIapAmazonModule.kt
  android/src/play/java/com/dooboolab/rniap/RNIapModule.kt
Labels: 🤖 android, ⓐ amazon, 🛠 refactor

#2896 Remove useless React-Codegen pod dependency
  RNIap.podspec
Labels: 📱 iOS, dependencies

#2877 feat: getStorefront method implementation for fetching App Store and Google Play region
  android/src/play/java/com/dooboolab/rniap/RNIapModule.kt
  ios/RNIapIosSk2.m
  ios/RNIapIosSk2.swift
  src/iap.ts
  src/modules/android.ts
  src/modules/iosSk2.ts
Labels: 🤖 android, 📱 iOS, 🎯 feature
