Repository hyochan/react-native-iap, pull requests merged in 2025-06, with the labels that each got.

#2957 Fix typo: correct "maintenenance" to "maintenance" in README.md
  README.md
Labels: 📖 documentation

#2943 feat(Android Amazon): Amazon SDK 3.0.7 + Add proration and modify subscription API
  IapExample/android/app/src/main/java/com/iapexample/MainActivity.java
  android/gradle.properties
  android/src/amazon/java/com/dooboolab/rniap/PurchasingServiceProxy.kt
  android/src/amazon/java/com/dooboolab/rniap/PurchasingServiceProxyAmazonImpl.kt
  android/src/amazon/java/com/dooboolab/rniap/RNIapActivityListener.kt
  android/src/amazon/java/com/dooboolab/rniap/RNIapAmazonListener.kt
  android/src/amazon/java/com/dooboolab/rniap/RNIapAmazonModule.kt
  android/src/amazon/java/com/dooboolab/rniap/modifysubscription/RNIapAmazonModifySubscriptionListener.kt
  android/src/amazon/java/com/dooboolab/rniap/utils/Extensions.kt
  android/src/testAmazon/java/com/dooboolab/rniap/RNIapAmazonModuleTest.kt
  patches/react-native+0.73.1.patch
  src/iap.ts
  src/modules/amazon.ts
  src/types/index.ts
Labels: 🤖 android, 🎯 feature, ⓐ amazon

#2949 Chore: bump RN 0.77.2 for IapExample
  .github/workflows/ci-example-ios.yml
  IapExample/.ruby-version
  IapExample/Gemfile
  IapExample/Gemfile.lock
  IapExample/android/app/build.gradle
  IapExample/android/app/src/debug/AndroidManifest.xml
  IapExample/android/app/src/debug/java/com/iapexample/ReactNativeFlipper.java
  IapExample/android/app/src/main/AndroidManifest.xml
  IapExample/android/app/src/main/java/com/iapexample/MainActivity.java
  IapExample/android/app/src/main/java/com/iapexample/MainActivity.kt
  IapExample/android/app/src/main/java/com/iapexample/MainApplication.java
  IapExample/android/app/src/main/java/com/iapexample/MainApplication.kt
  IapExample/android/build.gradle
  IapExample/android/gradle.properties
  IapExample/android/gradle/wrapper/gradle-wrapper.properties
  IapExample/android/settings.gradle
  IapExample/ios/AppDelegate.swift
  IapExample/ios/IapExample-Bridging-Header.h
  IapExample/ios/IapExample.xcodeproj/project.pbxproj
  IapExample/ios/IapExample/AppDelegate.h
  IapExample/ios/IapExample/AppDelegate.mm
  IapExample/ios/IapExample/Info.plist
  IapExample/ios/IapExample/main.m
  IapExample/ios/Podfile
  IapExample/ios/Podfile.lock
  IapExample/metro.config.js
  IapExample/package.json
  IapExample/src/screens/Products.tsx
  IapExample/tsconfig.json
  IapExample/yarn.lock
  android/gradle.properties
  yarn.lock
Labels: 🚽 migration, 📗 example

#2950 feat(ios): add appTransactionID for StoreKit2
  ios/IapSerializationUtils.swift
  src/types/appleSk2.ts
  src/types/index.ts
Labels: 📱 iOS, 🎯 feature
